<h1>New artiles</h1>
    
    <h3>Hi <%= current_user.first_name %> <%= current_user.last_name %>, please review the following articles and select some of them for your own review</h3>
    
    <div id="mainTable" >
    </div>


<script  type="text/javascript">
    
       $(document).ready(function () {
           
            
            
          
        });
        $("#mainTable").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: "/admin/testKendo"
                    },
                    pageSize: 20
                },
                height: 550,
                groupable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [
                    
                   {
                    field: "article_title",
                    title: "Article title"
                },
                 {
                    field: "type_name ",
                    title: "Article type"
                },
                 {
                    field: "updated_time ",
                    title: "Last modified"
                }, 
                { title: "Select all", template: "<input type=\"checkbox\" class=\"check_row\" />" ,
                    headerTemplate: '<label>  <input type="checkbox" id="checkAll"/></label>'
                  
                  }
                ]
            });
            
</script>
