<h1 class="col-lg-6 col-lg-offset-3 ">New User</h1>



<div class="container col-log-8">
    
    
   
    <div class="row">
        <%= render 'form' %>
    </div>
    
    <div class="row">
        <div class="col-lg-6 col-lg-offset-6">
        <%= link_to 'Back', users_path %>
      </div>
        
    </div>
    
</div>

