<div class="middle-box text-center loginscreen animated fadeInDown">
  <%= csrf_meta_tags %>
  <div>
    <div>

      <h1 class="logo-name"><img src="<%= asset_path( 'SerlerLogo_Black.png' ) %>" width="200" /></h1>

    </div>
    
  </div>

</div>
