/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require bootstrap
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

th {
  outline: none;
}

.hero-spacer {
  margin-top: 50px;
}

.hero-feature {
  margin-bottom: 30px;
}

footer {
  margin: 50px 0;
}

.welcome{color:red; font-style: bold;text-align:center;}
.column-view label{padding-right:12px;font-size: 12px;font-weight: normal;}
.column-view input{}
.column-view{float: right;background: #f3f3f4;padding: 8px;}
.search-form a{padding: 5px;float: right;margin-top: 10px;}
.table_box{padding: 26px;background: #e4e4e4;}
.mandatory{color:red;
  display: none;}

.mandatory1{color:red;
  display: none;}

.head-name-table th{padding-left: 10px !important;}
.JCLRgripDrag {border-left: 0px dotted black !important;}
.head-row{background: #e4e4e4;}
#result-table{margin-top: 15px;}
.table_result_title{
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  white-space: nowrap;
  width: 255px;

#head {
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#hor-minimalist-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: #fff;
	margin: 45px;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #1abc9c;
	text-align: left;
	
}
#hor-minimalist-a th
{
	font-size: 14px;
	font-weight: normal;
	color: white;
	background: #1abc9c;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
	
	padding: 9px 8px 8px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
	color: #009;
		background: #d1faec;
}

