/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require bootstrap
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

th {
  outline: none;
}

.hero-spacer {
  margin-top: 50px;
}

.hero-feature {
  margin-bottom: 30px;
}

footer {
  margin: 50px 0;
}

.welcome{color:red; font-style: bold;text-align:center;}
.column-view label{padding-right:12px;font-size: 12px;font-weight: normal;}
.column-view input{}
.column-view{float: right;background: #f3f3f4;padding: 8px;}
.search-form a{padding: 5px;float: right;margin-top: 10px;}
.table_box{padding: 26px;background: #e4e4e4;}
.mandatory{color:red;
  display: none;}