<% if notice != nil %>
  <div class="alert alert-success">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<h1>Queries List</h1>

<div class="container" style="padding-top: 10px;"></div>
<%= link_to(raw("<span><i class='fa fa-arrow-circle-left' aria-hidden='true'></i> Back</span>"), search_queries_path, class: "btn btn-default")%>
</div>

<br>
<div class="container">
<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-striped" id="result-table">
        <thead>
        <tr>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <% @search_queries.each do |search_query| %>
          <tr>
            <td><a href="<%= search_query.id %>" ><b><%= search_query.description %></b></a></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>