<html xmlns="http://www.w3.org/1999/html">
<head>Greetings from SERLER</head>
  <body>
  Dear Moderator,</br>
  <p>A new article has been added to the Repository. Please follow the link: <%= @article %> to moderate it.</p>
  <p>Thank you and have a nice day!</p>
  </body>
</html>
